body{
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif; 
}

a{
    text-decoration: none;
}


.container{
    max-width: $max-width;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    @include pad{
        padding-right: 39px;
        padding-left: 39px;
    }
    @include mobile{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title-sm{
    color: $f-color-secondary;
    font-size: 48px;
    text-align: center;
    &.title-sm__white{
        color: #ffffff;
    }
    &.title-sm__black{
        color: #000000;
    }
    @include pad{
        font-size: 32px;
    }
    @include mobile{
        font-size: 24px;
    }
}

