/* circle write */

@mixin circle($circle-size,$circle-text){
    content: $circle-text;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    border: 1px solid #000000;
    color:#000000;
    font-size: $circle-size / 3;
    text-align: center;
    line-height: $circle-size;
    position: absolute;
}


/* 圖片取代文字 */
@mixin imgReplaceText($img){
    background-image: url($img);
    background-repeat:no-repeat;
    background-position: 50% 50%;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

/* bg setting */
@mixin bannerBgSet($img){
    background-image: url($img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin itemBgSet($size,$postionY,$postionX){
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $postionY $postionX;
}


/* RWD mixin */

@mixin pad {
    @media screen and (max-width: 996px) {
        @content
    }
};

@mixin mobile {
    @media screen and (max-width: 620px) {
        @content
    }
};


/* create m-* p-* and rwd */ 

@mixin createSpace($type, $count) {
    @for $i from 0 through $count{
        .#{$type}t-#{$i}{
            margin-top: $i * 4 + px;
        }
        .#{$type}b-#{$i}{
            margin-bottom: $i * 4 + px;
        }
        .#{$type}r-#{$i}{
            margin-right: $i * 4 + px;
        }
        .#{$type}l-#{$i}{
            margin-left: $i * 4 + px;
        }
        .#{$type}y-#{$i}{
            margin-top: $i * 4 + px;
            margin-bottom: $i * 4 + px;
        }
        .#{$type}x-#{$i}{
            margin-left: $i * 4 + px;
            margin-right: $i * 4 + px;
        }
        .#{$type}-#{$i}{
            margin: $i * 4 + px;
        }
    }

    @for $i from 0 through $count{
        @include pad{
            .#{$type}t-md-#{$i}{
                margin-top: $i * 4 + px;
            }
            .#{$type}b-md-#{$i}{
                margin-bottom: $i * 4 + px;
            }
            .#{$type}r-md-#{$i}{
                margin-right: $i * 4 + px;
            }
            .#{$type}l-md-#{$i}{
                margin-left: $i * 4 + px;
            }
            .#{$type}y-md-#{$i}{
                margin-top: $i * 4 + px;
                margin-bottom: $i * 4 + px;
            }
            .#{$type}x-md-#{$i}{
                margin-left: $i * 4 + px;
                margin-right: $i * 4 + px;
            }
            .#{$type}-md-#{$i}{
                margin: $i * 4 + px;
            }
        }
    }

    @for $i from 0 through $count{
        @include mobile{
            .#{$type}t-sm-#{$i}{
                margin-top: $i * 4 + px;
            }
            .#{$type}b-sm-#{$i}{
                margin-bottom: $i * 4 + px;
            }
            .#{$type}r-sm-#{$i}{
                margin-right: $i * 4 + px;
            }
            .#{$type}l-sm-#{$i}{
                margin-left: $i * 4 + px;
            }
            .#{$type}y-sm-#{$i}{
                margin-top: $i * 4 + px;
                margin-bottom: $i * 4 + px;
            }
            .#{$type}x-sm-#{$i}{
                margin-left: $i * 4 + px;
                margin-right: $i * 4 + px;
            }
            .#{$type}-sm-#{$i}{
                margin: $i * 4 + px;
            }
        }
    }
}