@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


/*pure  color */
$white: #ffffff;




/* font-family */
$font-microsoft:Microsoft JhengHei;
$font-english:'Roboto', sans-serif;
$font-chinese:'Noto Sans', sans-serif;

 
/* font-color */
$f-color-primary: #AA0601;
$f-color-secondary: #650300;
$f-color-thirdary: #000000;


/* web color */
$primary: #AA0601;
$secondary: #111619;
$thirdary: #FBF2F2;





/* font-size set */
$font-base: 16px;
$font-xs: $font-base * 1.25;
$font-s: $font-base * 1.5;
$font-m: $font-base * 2.25;
$font-l: $font-base * 3;



/* width set */
$max-width: 1110px;


