.header{
    height: 108px;
    padding-right: 56px;
    padding-left: 88px;
    h1{
        @include imgReplaceText("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
        width: 80px;
        height: 108px;
    }
    .menu{
        a{
            color:$white;
            text-decoration: none;
            font-family: $font-chinese;
            display: block;
            padding: 40px 32px;
            font-size: $font-xs;
            &:hover{
                color: #000000;
            }
        }
    }
    @include pad{
        padding-left: 40px;
        padding-right: 0px;
        .menu{
            a{
                padding: 40px 40px;
            }
        }
    }
    @media (max-width: 768px) {
        .menu{
            a{
                padding: 40px 24px;
            }
        }
    }
    @include mobile{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0 0;
        height: auto;
        h1{
            height: 50px;
            margin-bottom: 10px;
        }
        .menu{
            flex-wrap: wrap;
            width: 100%;
            li{
                flex: 0 0 50%;
                border: 1px solid #ffffff;
                a{  
                    padding: 8px 0;
                    text-align: center;
                    margin: 0;
                    font-size: $font-xs;
                    vertical-align: middle;
                }
            }
        }
    }
}

.footer{
    padding: 44px 0 38px 0;
    @include pad{
        padding-top: 38px;
    }
    @include mobile{
        padding: 25px 0;
        .contact{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row-reverse;
        }
    }
    .copyRight{
        border-top: 1px solid $white;
        font-size: $font-xs;
        padding-top: 40px;
        @include pad{
            p{  
                font-size: 14px;
                .ml-md-6{
                    margin-left: 24px;
                }
            }
        }
        @include mobile{
            align-items: flex-start;
            flex-direction: column;
            padding: 20px 0 0;
            li{
                flex-direction: column;
                p{
                    margin: 0 !important;
                    margin-bottom: 8px !important;
                }
            }
        }
    }

}

.contact-group{
    margin-bottom: 42px;
    @include mobile{
        display: block;
    }
    .menu{
        a{
            color:$white;
            text-decoration: none;
            font-family: $font-chinese;
            display: block;
            margin-right: 48px;
            font-size: $font-xs;
            &:hover{
                color: #000000;
            }
            @include pad{
                font-size: $font-base;
                margin-right: 40px;
            }
            @media (max-width: 768px) {
                margin-right: 25px;
            }
            @include mobile{
                display: none;
            }
        }
    }
    .icon-group{
        a{
            transition: 0.3s;
            &:hover{
                opacity: 0.5;
            }
        }
        img{
            vertical-align: middle;
        }
        @include pad{
            img{
                width: 24px;
                height: 24px;
            }
        }
        @include mobile{
            flex: 0 0 30%;
        }
    }
}
.contact-item{
    @include mobile{
        flex: 0 0 70%;
    }
    li{
        margin-bottom: 16px;
        &:nth-child(2){
            margin-bottom: 0;
        }
    }

    img, a{
        vertical-align: middle;
    }

    img{
        @include pad{
            height: 24px;
            width: 24px;
            margin-right: 10px; 
        }   
        @include mobile{
            height: 16px;
            width: 16px;
            margin-right: 6px; 
        } 
    }

    a{
        font-family: $font-english;
        font-weight: normal !important;
        font-size: $font-m;
        color:$white;
        text-decoration: none;
        @include pad{
            font-size: $font-xs;
        }
        @include mobile{
            font-size: $font-base;
        }
    }
}