.blog-menu{
    @include mobile{
        ul{
            margin: 0 auto;
        }
    }
    li{
        a{
            display: block;
            color:$white;
            font-size: 20px;
            padding: 12px 0;
            margin-right: 48px;
            @include mobile{
                font-size: 16px;
                margin-right: 24px;
            }
        }
    }
}

.blog{
    @include mobile{
        .title-sm{
            font-size: 28px;
            line-height: 40px;
        }
    }
}


.blog-content{
    margin-bottom: 56px;
    li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        @include mobile{
            display: block;
            margin-bottom: 20px !important;
        }
        img{
            flex: 0 0 56.5%;
            object-fit: cover;
            height: 400px;
            @include pad{
                flex: 0 0 48%;
                height: 208px;
            }
            @include mobile{
                margin-bottom: 8px;
                height: 217px;
                width: 100%;
            }
        }
        .blog-content-text{
            flex: 0 0 40.5%;
            @include pad{
                flex: 0 0 48.5%;
            }
            h3{
                font-size: 32px;
                color:#650300;
                margin-bottom: 2px;
                @include pad{
                    font-size: 20px;
                }
                @include mobile{
                    font-size: 16px;
                }
            }
            .h4{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;
                h4{
                    font-family: $font-english;
                    font-size: 20px;
                    line-height: 26px;
                }
                @include pad{
                    margin-bottom: 32px;
                    h4{
                        font-size: 14px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                @include mobile{
                    margin-bottom: 0 !important;
                }
            }
            >p{
                font-size: 20px;
                margin-bottom: 14px;
                @include pad{
                    font-size: 14px;
                }
            }
            >a{
                font-family: $font-english;
                font-size: 32px;
                font-weight: bold;
                color: #650300;
                display: block;
                text-align: right;
            }
        }
    }
}
.special{
    @include mobile{
        .tag{
            font-size: 14px;
        }
    }
    .special-article{
        flex: 0 0 73%;
        @include pad{
            flex: 0 0 65%;
        }
        @include mobile{
            flex: 0 0 100%;
        }
        .special-title{
            line-height: 70px;
            @include mobile{
                font-size: 20px;
                line-height: 1.5;
            }
        }
        .special-title-sm{
            font-size: 28px;
            @include mobile{
                font-size: 14px;
            }
        }
        .special-content{
            @include mobile{
                li{
                    margin-bottom: 24px !important;
                }
            }
            img{
                width: 100%;
                margin-bottom: 24px;
                @include mobile{
                    margin-bottom: 16px;
                }
            }
            p{
                color: #0A0A0A;
                font-size: $font-xs;
                @include mobile{
                    font-size: $font-base;
                }
            }
            
        }
    }
}

.tag-group{
    flex: 0 0 24%;
    margin-top: 78px;
    padding-left: 20px;
    @include mobile{
        margin: 0;
        padding: 0;
        flex: 0 0 100%;
        margin-bottom: 56px;
    }
    .tag-group-title{
        img{
            width: 38px;
            height: auto;
            object-fit: cover;
        }
        p{
            font-size: 28px;
        }
    }
    .tag-group-content{
        font-size: $font-s;
        color: $f-color-primary;
        @include pad{
            font-size: $font-base;
        }
        @include mobile{
            display: flex;
            flex-wrap: wrap;
        }
        li{
            display: flex;
            margin-bottom: 8px;
            @include mobile{
                flex: 0 0 30%;
            }
            p{
                margin-right: 16px;
                @include mobile{
                    margin-right: 8px;
                }
            }
        }
    }
}

.share-icon{
    p{
        font-size: 20px;
        color:#0A0A0A;
    }
    a{
        color:#0A0A0A;
        font-size: 24px;
    }
}

.change-page{
    flex: 0 0 74%;
    border-top: 1px solid #707070;
    padding-top: 20px;
    @include pad{
        margin-bottom: 96px !important;
        flex: 0 0 100%;
    }
    @include mobile{
        margin-bottom: 30px !important;
    }
    p{
        font-size: 19px;
    }
    a{
        font-size: 24px;
        color:#0A0A0A;
    }
    @include mobile{
        flex-direction: column;
        align-items: flex-start;
        p{
            font-size: 14px;
        }
        a{
            font-size: 16px;
        }
        .next{
            flex-direction: row;
            a{
                margin-right: 4px !important;
            }
        }
    }
}