.outside-p{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
    @include mobile{
        padding-top: 32px;
        padding-bottom: 40px;
    }
}

.banner{
    @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    height: 840px;
    font-family: $font-chinese;
    @include mobile{
        height: 394px;
    }
    .banner-text{
        margin-right: 5%;
        p{
            font-size: 64px;
            line-height: 92px;
        }
        @include pad{
            h3{
                font-size: $font-xs;
            }
            p{
                font-size: 48px;
                line-height: 1.5;
            }
        }
        @include mobile{
            h3{
                font-size: $font-base;
            }
            p{
                font-size: 32px;
            }
        }

    }
}
.about{
    .about-content{
        @include pad{
            flex-wrap: wrap;
        }
        li{
            text-align: center;
            img{
                vertical-align: middle;
                max-width: 100px;
                height: 100px;
                margin-bottom: 24px;
            }
            @include pad{
                flex: 0 0 50%;
                margin-bottom: 45px;
                p{
                    width: 255px;
                    margin: 0 auto;
                }
            }
            @include mobile{
                flex: 0 0 100%;
                margin-bottom: 45px;
                p{
                    width: 255px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.classic{
    .classic-content{
        font-style: italic;
        li{
            display: flex;
            align-items: center;
            .classic-content-img{
                flex: 0 0 60%;
                object-fit: cover;
            }
            img{
                height: 320px;
                vertical-align: middle;
            }
            h3{
                line-height: 63px;
            }
            .icon{
                width: 44px;
                height: 44px;
                margin-right: 10px;
            }
            @include pad{
                flex-direction: row;
                img{
                    height: 168px;
                }
                h3{
                    line-height: 37px;
                    font-size: 28px;
                }
                .icon{
                    width: 36px;
                    height: 36px;
                    margin-right: 10px;
                }
                .mr-md-8{
                    margin-right: 32px;
                }
            }
        }
        @include mobile{
            li{
                display: block;
                position: relative;
                .classic-content-img{
                    flex: 0 0 100%;
                }
            }
            img{
                height: 134px;
                display: block;
                margin: 0 auto;
            }
            .pa-set{
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%,-50%);
            }
        }
    }
}
.design{
    @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
    li{
        position: relative;
    }
    .cover{
        background: #ffffff;
        opacity: 0.7;
        position: absolute;
        height: 455px;
        width: 100%;
    }
    .design-content-item{
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png");
    }
    .design-content-item-second{
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png");
    }
        .design-content-item, .design-content-item-second{
        filter: brightness(1);
        flex: 0 0 48.75%;
        @include itemBgSet(cover,center,center);
        height: 455px;
    }
    p{   
        font-size: 72px; 
    }
    @include pad{
        .cover{
            height: 278px;
        }
        .design-content-item, .design-content-item-second{
            height: 278px;
        }
        p{
            font-size: 32px;
        }
    }
    @include mobile{
        .design-content{
            flex-wrap: wrap;
        }
        .cover{
            height: 291px;
        }
        .design-content-item{
            margin-bottom: 16px;
        }
        .design-content-item, .design-content-item-second{
            flex: 0 0 100%;
            height: 291px;
            width: 345px;
        }
    }
}
.recommend{
    .recommend-content{
        margin-right: -15px;
        margin-left: -15px;
        li{
            flex: 0 0 25%;
            padding-right: 15px;
            padding-left: 15px;
        }
        .recommend-content-item{
            border: 1px solid #DEE2E6;
            box-shadow: 3px 3px 3px #DEE2E6;
        }
        img{
            width: 100%;
            vertical-align: middle;
            height: 255px;
            object-fit: cover;
        }
        .recommend-content-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 240px;        
        }
        @include pad{
            flex-wrap: wrap;
            li{
                flex: 0 0 50%;
                margin-bottom: 32px;
            }
            img{
                height: 255px;
            }
            br{
                content: "";
                display: none;
            }
        }
        @include mobile{
            li{
                flex: 0 0 100%;
                margin-bottom: 16px;
            }
            img{
                height: 256px;
            }
            br{
                content: "";
                display: none;
            }
            .recommend-content-text{
                height: 204px;        
            }
        }
        
    }
}
.connection{
    h3{
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    @include pad{
        padding-right: 120px;
        padding-left: 120px;
        br{
            content: "";
            display: none;
        }
    }
    @include mobile{
        padding-left: 0;
        padding-right: 0;
    }
}

form{
    max-width: 730px;
    margin: 0 auto;
    label{
        display: block;
        margin-bottom: 4px;
        font-size: $font-base;
    }
    input, textarea{
        width: 100%;
        background-color: #FBF2F2;
        padding: 12px 0px 12px 16px;
    }
    p{
        font-size: $font-base;
    }
    .btn-p{
        padding: 12px 16px;
    }
}