@import "../utils/variable";
@import "../utils/mixin";


.loctions{
    margin-bottom: 128px;
    @include pad{
        padding-right: 39px;
        padding-left: 39px;
        margin-bottom: 108px;
    }
    @include mobile{
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 40px;
    }
    .select-block{
        display: flex;
        align-items: center;
        label{
            font-size: 24px;
        }
        select{
            width: 324px;
            height: 45px;
        }
        @include mobile{
            label{
                font-size: 14px;
            }
            select{
                margin-left: 12px;
                width: 277px;
                height: 36px;
            }
        }
    }
}
.map{
    .map-img{
        flex: 0 0 57%;
        img{
            height: 100%;
        }
    }
    @include pad{
        margin-bottom: 96px;
        .card{  
            margin-bottom: 32px !important;
           >img{
               height: 164px;
               margin-right: 2%;
           }
        }
        padding-right: 39px;
        padding-left: 39px;
    }
    @include mobile{
        padding-right: 15px;
        padding-left: 15px;
        .card{  
            margin-bottom: 16px !important;
        }
    }
}