@import "../utils/variable";
@import "../utils/mixin";
.product-menu{
    @include pad{
        ul{
            justify-content: center;
        }
    }
    li{
        display: flex;
        align-items: center;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        width: 370px;
        transition: 0.3s;
        border-right: 1px solid #DCDCDC;
        justify-content: center;
        &:first-child{
            border-left: 1px solid #DCDCDC;
        }
        &:hover, &.active{
            border-bottom: 5px solid $primary;
        }
        img{
            height: 48px;
            width: 48px;
            margin-right: 8px;
        }
        a{
            color: #000000;
            font-size: 32px;
        }
        @include pad{
            width: 230px;
            img{
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }
            a{
                font-size: 24px;
            }
        }
        @include mobile{
            width: 115px;
            height: 30px;
            padding: 0 10px;
            padding-top: 5px;
            margin: 0;
            img{
                height: 14px;
                width: 14px;
                margin-right: 5px;
            }
            a{
                font-size: 14px;
            }
        }
    }
}

.product-banner{
    .banner-one{
        @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png");
        flex: 0 0 50%;
        height: 304px;
    }
    .banner-two{
        @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png");
        flex: 0 0 50%;
        height: 304px;
    }
    @include pad{
        margin-bottom: 56px;
    }
    @include mobile{
        margin-bottom: 32px;
        .banner-one{
            height: 148px;
        }
        .banner-two{
            height: 148px;
        }
    }
}
.product{
    margin-bottom: 54px;
    .title-sm{
        font-size: 42px;
    }
    h3{
        font-size: 32px;
    }
    li{
        flex: 0 0 31.5%;
        margin-bottom: 104px;
        img{
            width: 100%;
            height: 224px;
            vertical-align: middle;
        }
        .product-item-text{
            display: flex;
            justify-content: space-between;
            .price{
                color: $primary;
            }
        }
        .product-item-color{
            display: flex;
            .color-one{
                width: 24px;
                height: 24px;
                background-color: #5F3E2D;
                margin-right: 8px;
            }
            .color-two{
                width: 24px;
                height: 24px;
                background-color: #B75929;
            }
        }
    }
    @include pad{
        margin-bottom: 20px;
        padding-right: 39px;
        padding-left: 39px;
        .title-sm{
            font-size: 32px;
        }
        h3{
            font-size: 24px;
        }
        .product-item{
            justify-content: space-between;
        }
        li{
            flex: 0 0 48%;
            margin-bottom: 72px;
            img{
                height: 164px;
                vertical-align: middle;
            }
        }
    }
    @include mobile{
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
        .title-sm{
            font-size: 20px;
        }
        h3{
            font-size: 16px;
            margin-bottom: 20px;
        }
        li{
            flex: 0 0 100%;
            margin-bottom: 32px;
            img{
                height: 166px;
                vertical-align: middle;
            }
            .product-item-text{
                font-size: 16px;
            }
            .color-one, .color-two{
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}