@import "../utils/mixin";
.product-banner{
    .banner-one{
        @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png");
    }
    
    .banner-two{
        @include bannerBgSet("https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png");
    }
}

.product{
    margin-bottom: -8px;
    .product-item{
        li{
            flex: 0 0 25%;
        }
    }
    @include pad{
        margin-bottom: 20px;
        .product-item{
            li{
                flex: 0 0 50%;
            }
        }
    }
    @include mobile{
        .product-item{
            li{
                flex: 0 0 100%;
            }
        }
    }
}


